*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    background-color: #FAFAFA;
}
/*CONTAINERS*/
#main-container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
#banner-container,
#form-container{
    flex: 1 1 0;
    width: 50%;
}
#banner-container,
#form-container{
    flex: 1 1 0;
    width: 50%;
}
#banner-container{
    text-align: right;
}
#banner-container img{
    margin-right: -15px;
}
#form-container{
    text-align: center;
}
#form-box{
    background-color: #fff;
    border: 1px solid #DBDBDB;
    width: 350PX;
    margin-top: 30px;
}
#logo-insta{
    width: 175px;
    height: 51px;
    margin: 30px auto 12px;
    background-color: #fff;
}
#login-form{
    margin-top: 20px;
}
#login-form input{
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
}
#login-form input[type="submit"]{
    background-color: #B2DFFC;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    border-color: #B2DFFC;
    height: 30px;
    font-size: 13px;
    padding: 0;
    font-weight: 600;
}
.separator{
    position: relative;
}
.separator .line{
    border-top: 1px solid #DBDBDB;
    width: 268px;
    margin: 25px auto 35px ;
}
.separator span{
    position: absolute;
    text-transform: uppercase;
    color: #bbb;
    top: -6px;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    font-size: 14px;
}